
<a [routerLink]="['/dashboard']">Home</a>

<p>Provide a quote by {{ author['name'] }}</p>

<div class="formDiv">
    <form (submit)="onSubmit()">
        <label>Quote:</label>
        <input type="text" name="quote.content" [(ngModel)]="quote.content" />
        <p class="redText" *ngIf="errorsPresent">{{ errorMessage }}</p>
        <div class="buttonDiv">
            <button [routerLink]="['/dashboard']" class="blueButton">Cancel</button>
            <input class="blueButton subButton" type="submit" value="Submit" />
        </div>
    </form>
</div>

