<a [routerLink]="['/add']">Add an Author</a>

<p class="purpletext" >We have quotes by:</p>

<div *ngIf="authorDataAvailable">
  <table>
    <thead>
      <tr>
        <th>Author</th>
        <th>Actions available</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let author of authors">
        <td class="purpletext" >{{author.name}}</td>
        <td><button [routerLink]="['/quote',author._id]" class="greyButton">View Quotes</button><button [routerLink]="['/edit',author._id]" class="brownButton">Edit</button></td>
      </tr>
    </tbody>
  </table>
</div>

