<a [routerLink]="['/dashboard']">Home</a>
<a [routerLink]="['/quoteadd/',authorId]">Add a Quote</a>

<div *ngIf="authorDataAvailable">
    <p class="purpleText" >Quotes by: {{ author['name'] }}</p>
    <div *ngIf="quoteDataAvailable">
        <table>
            <thead>
                <tr>
                    <th>Quote</th>
                    <th>Votes</th>
                    <th>Actions available</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let quote of quotes ">
                    <td class="purpleText">"{{ quote.content }}"</td>
                    <td class="purpleText">{{ quote.votes }}</td>
                    <td><button class="greyButton" (click)="upVote(quote._id, authorId)">Vote Up</button>
                        <button class = "brownButton" (click)="downVote(quote._id, authorId)">Vote Down</button>
                        <button class = "mauveButton" (click)="deleteQuote(quote._id)">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>


