<a [routerLink]="['/dashboard']">Home</a>
<p>Edit this author:</p>

<div class="formDiv" *ngIf="authorDataAvailable" id="{{author['data'][0]['_id']}}">
    <form  (submit)="onSubmit($event)">
        <input type="text" name="author['data'][0]['name']" [(ngModel)]="author['data'][0]['name']" />
        <p *ngIf="errorsPresent">{{ errorMessage }} </p>
        <div class="buttonDiv">
                <button [routerLink]="['/dashboard']" class="blueButton">Cancel</button>
                <input class="blueButton subButton" type="submit" value="Submit" />
        </div>
    </form>
</div>


